/* App */
.App {
  position: absolute;
  width: 550px;
  height: 704px;
  /* left: 0px;
  top: 0px; */
}

/* Header */
header {
  background-color: #ff5456;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.header--icon-world {
  /* position: absolute; */
  width: 24px;
  height: 24px;
  /* left: 213px;
  top: 16px; */
  /* background: #FFFFFF; */
}

.header--text {
  /* position: absolute; */
  width: 109px;
  height: 16px;
  left: 244px;
  top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
  text-align: center;
  /* align-items: center; */
}

/* Card */
.card--container {
  /* position: absolute; */
  width: 470px;
  height: 168px;
  display: flex;
  flex-direction: row;
  gap: 5px 18px;
  padding: 20px;
  box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
  margin-left: 20px;
  /* margin-top: 20px; */
}

.card--description {
  width: 326px;
  height: 60px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */
  color: #2B283A;
  text-align: justify;
}

.card--period {
  width: 319px;
  height: 11px;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;
  margin-top: 12px;
  margin-bottom: 12px;
}

.card--icon-pin {
  width: 7px;
  height: 9.55px;
  background: #F55A5A;
}

.card--image {
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 5px;
}

.card--location {
  width: auto;
  height: 10px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
  text-transform: uppercase;
  padding-left: 6px;
}

.card--location-link {
  width: 106px;
  height: 13px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
/* identical to box height */
  text-decoration-line: underline;
  color: #918E9B;
  padding-left: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 2px;
}

.card--section-location {
  width: 326px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card--title {
  width: 326px;
  height: 33px;
  font-weight: 700px;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
  margin-top: 0;
  margin-bottom: 12px;
}

/* Media Queries */
@media screen and (min-width: 550px) {
  .App {
    width: 1453px;
    height: 914px;
  }

  .card--container {
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    height: 416px;
    padding: 40px;
    gap: 10px 36px;
  }

  .card--image {
    width: 326px;
    height: 416px;
  }

  .card--description {
    font-size: 18px;
    width: 652px;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  header {
    width: 1453px;
    margin-bottom: 40px;
  }

  .header--icon-world {
    width: 48px;
    height: 48px;
  }

  .header--text {
    width: 418px;
    height: 36px;
    font-size: 40px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding-left: 20px;
    letter-spacing: .05px;
  }

  .card--icon-pin {
    width: 14px;
    height: 20px;
  }

  .card--location {
    font-size: 20px;
  }

  .card--location-link {
    font-size: 20px;
    width: 326px;
  }

  .card--title {
    font-size: 50px;
    width: auto;
    display: flex;
    align-items: stretch;
    padding-right: 0;
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .card--period {
    font-size: 20px;
    width: 400px;
  }

  .card--section-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    width: fit-content;
  }
}